/* Layout system */
.layout-system {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #000000;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.background-video {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.layout-system::after {
    content: "";
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;


}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

progress {
    width: 80%;
    height: 20px;
    margin: 0 auto;
    display: block;
}

/* Header */
.nav-custom {
    display: flex;
    position: fixed;
    top: 0px;
    min-height: 85px;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
    .nav-custom {
        min-height: 50px;
        justify-content: center;
    }

    .search-nav {
        display: flex;
        min-width: 90%;
    }

    .search-form input {
        height: 35px;
    }
}

.nav-custom.hide {
    transform: translateY(-100%);
}

.nav-custom.show {
    transform: translateY(0%);
}


.logo-nav {
    width: 200px;
    height: 85px;
    display: flex;
    justify-content: center;
}


.logo-nav-img {
    width: 85px;
}

.search-nav {
    width: 35%;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchbar {
    border-radius: 15px;
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
    padding-left: 10px;
}

.searchbar::placeholder {
    color: rgb(248, 248, 248);
    opacity: 0.5;
}

.searchbar:focus {
    outline: none;

}

.list-nav {
    margin-right: 20px;
}

/* navbar mobile */

.navbar-mobile {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.11);
    box-shadow:
        rgba(0, 0, 0, 0.3) 0px -19px 38px,
        rgba(0, 0, 0, 0.22) 0px -15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}

.navbar-mobile ul{
    padding: 0;
    margin: 0;
}

.logo-nav-img-mobile{
    width: 50px;
}

.offcanvas{
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
}

.blur-dropdown {
    background: rgba(0, 0, 0, 0.795);
    box-shadow:
        rgba(0, 0, 0, 0.3) 0px -19px 38px,
        rgba(0, 0, 0, 0.22) 0px -15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border-radius: 16px;
    padding: 10px;
  }

.dropdown-menu{ 
    background: rgba(255, 255, 255, 0.295);
    box-shadow:
        rgba(0, 0, 0, 0.3) 0px -19px 38px,
        rgba(0, 0, 0, 0.22) 0px -15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border-radius: 16px;
    padding: 10px;
}

.dropdown-menu ul{
   margin: 10px;
}



/* form register */

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 550px;
    max-height: 750px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

.inputRegister {
    border-radius: 15px;
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
    padding-left: 10px;

}

.btnRegister {
    width: 100px;
    margin-top: 75px;
    margin-bottom: 25px;

}

/* form login */

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 250px;
    max-height: 500px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

.inputLogin {
    border-radius: 15px;
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
    padding-left: 10px;

}

.btnlogin {
    width: 100px;
    margin-top: 25px;
}

/* Side container */
.side-container {
    position: relative;
    left: 0px;
    display: flex;
    min-height: 100vh;
    width: 230px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    margin-right: 20px;


}

.sidebar {
    margin: 20px;
    margin-top: 30px;
}


.genres-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 20px;
    width: 200px;
}

.logo-category {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo-category>span {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

/* Main container */
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    z-index: 1;

}

.main-container {
    display: flex;
}

.main-content {
    display: flex;
    min-height: 80%;
    width: 100%;

}

/* pagination */

.pagination-list {
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.pagination-item {
    display: flex;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.15s;

}

.pagination-item.active a {
    width: 100%;
    color: white;
    background-color: #0059ff;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination-item-prev {
    display: flex;
    border-radius: 16px 0px 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.15s;
}

.pagination-item-next {
    display: flex;
    border-radius: 0 16px 16px 0px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.15s;
}

.pagination-item-prev:hover {
    scale: 1.1;
    z-index: 2;
}

.pagination-item:hover {
    scale: 1.1;
    z-index: 2;
}

.pagination-item-next:hover {
    scale: 1.1;
    z-index: 2;
}

/* carousel */
.carousel {
    width: 75%;
}

@media (max-width: 991.98px) {
    .carousel {
        width: 100%;
    }
}

.carousel-inner {
    display: flex;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);

}

.carousel-item {
    border-radius: 20px;
}

.slide-carousel {
    width: 100%;
}

/* cardGame */
.card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 272px;
    width: 392px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: start;
    transition: 0.15s;
}

.card-custom:hover {
    scale: 1.05;
}

.img-card-custom {
    display: flex;
    min-width: 100%;
    max-height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;

}

.card-custom>span {
    display: flex;
    width: 100%;
    min-height: 250px;
}


.body-card-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

/* gamePage */


.container-img-game {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.img-game {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.toggleFavorite {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* chat games */

.chatContainer {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding: 20px 10px;
    margin: 20px 0px;
}

.chatContainerContent {
    height: 350px;
    overflow-y: auto;
}

.chatbar {
    border-radius: 15px;
    width: 70%;
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
    padding-left: 10px;
}

.avatar-chat {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.message-container {

    border: 1px solid rgb(0, 182, 233);
    border-radius: 0px 50px 10px 40px;
    padding: 10px;
    max-width: 350px;
    margin-top: 25px;
    margin-right: 20px;
}

.my-message-container {

    border: 1px solid rgb(226, 20, 199);
    border-radius: 50px 0px 40px 10px;
    padding: 10px;
    max-width: 350px;
    margin-top: 25px;
    margin-right: 20px;
}

/* Account settings */
.form-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 250px;
    max-height: 700px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

.input-account-setting {
    border-radius: 15px;
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    color: white;
    padding-left: 10px;
}

.avatar-account-settings {
    border-radius: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.avatar-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}